* {
  margin: 0;
  padding: 0;
  transition: all .3s;
  font-family: 'Product Sans Regular', sans-serif;
  font-weight: lighter;
  outline: none;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #909090;
}

a {
  color: #000;
}

button {
  background: transparent;
  border: 0;
  font-size: 1em;
  display: flex;
}


.App.dark {
  background: #000;
  color: #fff;

  a {
    color: #fff;
  }

  .mdi {
    color: #fff;
  }
}

@import "Header";
@import "Page";
@import "Technology";
@import "ExamplePost";
@import "Contact";
@import "Footer";
