* {
  margin: 0;
  padding: 0;
  transition: background-color .3s;
  font-family: 'Product Sans Regular', sans-serif;
  font-weight: lighter;
  outline: none; }
  *:focus {
    outline: none; }

.App {
  will-change: color, background; }

::-webkit-scrollbar {
  background: transparent;
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #909090; }

::grammar-error, ::spelling-error {
  color: inherit;
  background: #f00; }

.mdi {
  will-change: color; }

a {
  will-change: color;
  color: #000; }

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center; }

button {
  background: transparent;
  border: 0;
  font-size: 1em;
  display: flex; }

a {
  transition: background-color .5s;
  margin: 0;
  padding: 5px 10px;
  width: max-content; }

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center; }
  form * {
    margin-top: 10px;
    margin-bottom: 10px; }

button {
  border: 0;
  background: #00f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px; }
  button:hover {
    background: #00bbff; }

input {
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  text-overflow: ellipsis;
  will-change: color, backgronud, border, -webkit-box-shadow, -webkit-text-fill-color; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #000; }

.App.dark {
  background: #0e0e0f;
  color: #f0f2f3; }
  .App.dark a {
    color: #f0f2f3; }
  .App.dark .mdi {
    color: #f0f2f3; }
  .App.dark input {
    background: #0e0e0f !important;
    border-color: #f0f2f3;
    color: #f0f2f3 !important; }
  .App.dark input:-webkit-autofill, .App.dark textarea:-webkit-autofill, .App.dark select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #0e0e0f !important;
    -webkit-text-fill-color: #f0f2f3; }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #fff;
  align-items: center;
  background: #0078ff; }
  .header a {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px; }
  .header .title {
    margin-top: 20px;
    color: #fff; }
  .header .desc {
    margin-top: 10px;
    margin-bottom: 40px;
    font-style: italic; }
  .header .menu {
    display: flex;
    justify-content: center;
    text-align: center; }
    .header .menu a {
      transition: background-color .5s;
      margin: 0;
      padding: 5px 10px; }

.App.dark .header {
  background: #262627; }
  .App.dark .header a {
    color: #f0f2f3; }
  .App.dark .header h3 {
    color: #f0f2f3; }
  .App.dark .header .title {
    color: #d50000; }

@media (max-width: 400px) {
  .header {
    width: 100%; } }
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }
  .page .title {
    margin-bottom: 25px;
    padding-bottom: 2px; }
  .page .subtitle {
    margin-bottom: 20px; }
  .page .text {
    margin-bottom: 2px; }

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.technology {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .technology .title {
    font-size: 1.1em; }
  .technology .mdi {
    font-size: 1.6em; }

.post {
  width: calc(100% - 10px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .post .title {
    margin-bottom: 5px;
    font-size: 1.2em; }
  .post * {
    margin: 2px; }

.list * {
  margin: 10px;
  font-size: 1.5em; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px; }

/*# sourceMappingURL=App.css.map */
