@import "Colors";

* {
  margin: 0;
  padding: 0;
  //transition: color, background, border, width, height, top, bottom, left, right .3s;
  transition: background-color .3s;
  font-family: 'Product Sans Regular', sans-serif;
  font-weight: lighter;
  outline: none;

  &:focus {
    outline: none;
  }
}

.App {
  will-change: color, background;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #909090;
}

::grammar-error, ::spelling-error {
  color: inherit;
  background: #f00;
}

.mdi {
  will-change: color;
}

a {
  will-change: color;
  color: $colorText;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: transparent;
  border: 0;
  font-size: 1em;
  display: flex;
}

a {
  transition: background-color .5s;
  margin: 0;
  padding: 5px 10px;
  width: max-content;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;

  & * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

button {
  border: 0;
  background: #00f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background: #00bbff;
  }
}

input {
  border: 1px solid $borderColor;
  padding: 5px 10px;
  border-radius: 5px;
  background: $background;
  color: $colorText;
  text-overflow: ellipsis;
  will-change: color, backgronud, border, -webkit-box-shadow, -webkit-text-fill-color;
}

@include removeAutoFill($background, $colorText);

.App.dark {
  background: $backgroundDark;
  color: $colorTextDark;

  & a {
    color: $colorTextDark;
  }

  & .mdi {
    color: $colorTextDark;
  }

  & input {
    background: $backgroundDark !important;
    border-color: $borderColorDark;
    color: $colorTextDark !important;
  }

  @include removeAutoFill($backgroundDark, $colorTextDark);
}

@import "Header";
@import "Page";
@import "Technology";
@import "ExamplePost";
@import "Contact";
@import "Footer";
