@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: all .3s;
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
  outline: none;

  &:focus {
    outline: none;
  }
}

a {
  color: #000;
}

button {
  background: transparent;
  border: 0;
  font-size: 1em;
  display: flex;
}

@import "Header";
@import "Page";
@import "Technology";
@import "ExamplePost";
@import "Contact";
@import "Footer";

