.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #000;

  & a {
    color: #fff;
  }

  & .title {
    margin-top: 20px;
  }

  & .desc {
    margin-top: 10px;
    margin-bottom: 40px;
    font-style: italic;
  }
}
@media (max-width: 400px) {
  .header {
    width: 100%;
  }
}
