.page {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;

  & .title {
    margin-bottom: 25px;
    border-bottom: 5px solid #000;
    width: max-content;
    padding-bottom: 2px;
  }

  & .subtitle {
    margin-bottom: 20px;
  }

  & .text {
    margin-bottom: 2px;
  }
}

@media (max-width: 400px) {
  .page {
    padding-left: 20px;
  }
}
