.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .title {
    font-size: 1.1em;
  }

  & .mdi {
    font-size: 1.6em;
  }
}
