@import "Colors";

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: max-content;

  & .title {
    font-size: 1.1em;
    margin: 0;
  }

  & .mdi {
    font-size: 2em;
  }
}
