$background: #fff;
$colorText: #000;
$colorTextLight: #fff;
$borderColor: #000;

$headerBackground: #0078ff;
$titleColor: #fff;
$footerColorText: #545353;

$backgroundDark: #0e0e0f;
$colorTextDark: #f0f2f3;
$colorTextLightDark: #f0f2f3;
$borderColorDark: #f0f2f3;

$headerBackgroundDark: #262627;
$titleColorDark: #d50000;
$footerColorTextDark: #545353;

@mixin removeAutoFill ($background, $color) {
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px $background !important;
    -webkit-text-fill-color: $color;
  }
}