@import "Colors";

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  color: $colorTextLight;
  align-items: center;
  background: $headerBackground;

  & a {
    color: $colorTextLight;
    margin-right: 5px;
    margin-left: 5px;
  }

  & .title {
    margin-top: 20px;
    color: $titleColor;
  }

  & .desc {
    margin-top: 10px;
    margin-bottom: 40px;
    font-style: italic;
  }

  & .menu {
    display: flex;
    justify-content: center;
    text-align: center;

    & a {
      transition: background-color .5s;
      margin: 0;
      padding: 5px 10px;
    }
  }
}

.App.dark .header {
  background: $headerBackgroundDark;

  a {
    color: $colorTextLightDark;
  }

  h3 {
    color: $colorTextLightDark;
  }

  .title {
    color: $titleColorDark;
  }
}

@media (max-width: 400px) {
  .header {
    width: 100%;
  }
}
